**config.json*
*dist*
*node_modules*
*.DS_Store*
*npm-debug.log*
*yarn-debug.log*
*yarn-error.log*
*package-lock.json*
public/ext
public/upload
public/index.html
public/index.js
public/styles.css
infra/.env
infra/certs
infra/letsencrypt
.env
.nyc_output
cov
